.container {
    height:150px;
    width:500px;
    display: flex;
    background-color: seagreen;
    padding:10px;
    align-items: center;
    justify-content: space-between;
    margin:10px;
}
img {
    height:150px;
    width:150px;
}
.container2 {
    height:150px;
    width:500px;
    display: flex;
    background-color: plum;
    padding:10px;
    align-items: center;
    justify-content: space-evenly;
    margin:10px;
}
.container3 {
    height:150px;
    width:500px;
    display: flex;
    background-color: burlywood;
    padding:10px;
    align-items: center;
    justify-content: space-between;
    margin:10px;
}
h1{
    margin-left: 150px;
}
.background {
    background-color: lightgrey;
    height: fit-content;
    width: fit-content;
    padding:10px
}